In [15]:
import pandas as pd

In [16]:
import sys,os
sys.path.append("../scripts/")
from data_extraction import DataExtractor
from utils import run_sql_query

ModuleNotFoundError: No module named 'scripts'

In [14]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from data_extraction import DataExtractor

ModuleNotFoundError: No module named 'scripts'

In [3]:
with open('../data/20181024_d1_0830_0900.csv','r') as f:
    lines=f.readlines()

columns=lines[0].replace('\n','').split(';')
data=lines[1:]

In [4]:
data_extractor = DataExtractor()

NameError: name 'DataExtractor' is not defined

In [19]:
columns[:4]

['track_id', ' type', ' traveled_d', ' avg_speed']

In [20]:
columns[4:]

[' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

- the first 10 columns in the 1st row include the columnsâ€™ names

- the first 4 columns include information about the trajectory 
     - unique trackID,
     - the type of vehicle,
     - the distance traveled in meters and
     - the average speed of the vehicle in km/h
- the last 6 columns are then repeated every 6 columns based on the time frequency.

In [21]:
def new_list(list,new_size,default_first_val=None):
    new_list=[]
    for i in range(0, len(list), new_size):
        if default_first_val:
            values=[default_first_val]
            values.extend(list[i:i+new_size])
            new_list.append(values)
        else:
            new_list.append(list[i:i+chunk_size])

    return new_list

In [22]:
trajectory_cols=columns[:4]
trajectory_rows=[]

timed_vehicle_cols=['track_id']+columns[4:]
timed_vehicle_rows=[]

for row in data:
    items=row.replace('\n','').split(';')
    trajectory_rows.append(items[:4])
    timed_vehicle_rows.extend(new_list(items[4:],6,items[0]))

In [23]:
trajectory_data=pd.DataFrame(columns=trajectory_cols,data=trajectory_rows)
timed_vehicle_data=pd.DataFrame(columns=timed_vehicle_cols,data=timed_vehicle_rows)

In [24]:
trajectory_data.head()

  track_id         type  traveled_d   avg_speed
0        1          Car       48.85    9.770344
1        2   Motorcycle       98.09   19.839417
2        3   Motorcycle       63.80   18.228752
3        4   Motorcycle      145.72   26.229014
4        5   Motorcycle      138.01   24.841425

In [25]:
timed_vehicle_data.head()

  track_id         lat         lon    speed   lon_acc   lat_acc       time
0        1   37.977391   23.737688   4.9178    0.0518   -0.0299   0.000000
1        1   37.977391   23.737688   4.9207   -0.0124   -0.0354   0.040000
2        1   37.977391   23.737688   4.9160   -0.0519   -0.0413   0.080000
3        1   37.977390   23.737688   4.9057   -0.0914   -0.0478   0.120000
4        1   37.977390   23.737689   4.8871   -0.1679   -0.0550   0.160000

In [49]:
#test script works as expected
loaded_df=data_extractor.extract_data(file_name='20181024_d1_0830_0900.csv')

In [50]:
# dispaly the result
trajectory,vehicle=loaded_df
display(trajectory.head())
display(vehicle.head())

                  track_id         type  traveled_d   avg_speed
0  20181024_d1_0830_0900_1          Car       48.85    9.770344
1  20181024_d1_0830_0900_2   Motorcycle       98.09   19.839417
2  20181024_d1_0830_0900_3   Motorcycle       63.80   18.228752
3  20181024_d1_0830_0900_4   Motorcycle      145.72   26.229014
4  20181024_d1_0830_0900_5   Motorcycle      138.01   24.841425

,track_id,lat,lon,speed,lon_acc,lat_acc,time
0,20181024_d1_0830_0900_1,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000
1,20181024_d1_0830_0900_1,37.977391,23.737688,4.9207,-0.0124,-0.0354,0.040000
2,20181024_d1_0830_0900_1,37.977391,23.737688,4.9160,-0.0519,-0.0413,0.080000
3,20181024_d1_0830_0900_1,37.977390,23.737688,4.9057,-0.0914,-0.0478,0.120000
4,20181024_d1_0830_0900_1,37.977390,23.737689,4.8871,-0.1679,-0.0550,0.160000

In [51]:
vehicle.head(10)

,track_id,lat,lon,speed,lon_acc,lat_acc,time
0,20181024_d1_0830_0900_1,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000
1,20181024_d1_0830_0900_1,37.977391,23.737688,4.9207,-0.0124,-0.0354,0.040000
2,20181024_d1_0830_0900_1,37.977391,23.737688,4.9160,-0.0519,-0.0413,0.080000
3,20181024_d1_0830_0900_1,37.977390,23.737688,4.9057,-0.0914,-0.0478,0.120000
4,20181024_d1_0830_0900_1,37.977390,23.737689,4.8871,-0.1679,-0.0550,0.160000
5,20181024_d1_0830_0900_1,37.977389,23.737689,4.8547,-0.2815,-0.0628,0.200000
6,20181024_d1_0830_0900_1,37.977389,23.737689,4.8033,-0.4320,-0.0713,0.240000
7,20181024_d1_0830_0900_1,37.977388,23.737690,4.7318,-0.5617,-0.0804,0.280000
8,20181024_d1_0830_0900_1,37.977388,23.737690,4.6442,-0.6543,-0.0905,0.320000
9,20181024_d1_0830_0900_1,37.977388,23.737690,4.5437,-0.7413,-0.1017,0.360000

In [52]:
# before load the data
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34003 entries, 0 to 34002
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   track_id  34003 non-null  object
 1    lat      34003 non-null  object
 2    lon      33984 non-null  object
 3    speed    33984 non-null  object
 4    lon_acc  33984 non-null  object
 5    lat_acc  33984 non-null  object
 6    time     33984 non-null  object
dtypes: object(7)
memory usage: 1.8+ MB

In [53]:
# check duplicates.
vehicle.duplicated().sum()

0

In [54]:
trajectory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     19 non-null     object
 1    type        19 non-null     object
 2    traveled_d  19 non-null     object
 3    avg_speed   19 non-null     object
dtypes: object(4)
memory usage: 736.0+ bytes

In [55]:
trajectory.duplicated().sum()

0

In [33]:
vehicle.to_csv('../data/vehicle.csv',index=False)

In [17]:
trajectory.to_csv('../data/trajectory.csv',index=False)

## Load the dataset into the database

In [2]:
connection_params = {
    "host": "localhost",
    "user": "airflow",
    "password": "airflow",
    "port": "5432",
    "database": "road_data" 
}

vehicle_data_table_name = "vehicle_data"
vehicle_trajectory_table_name = "vehicle_trajectory"

create_vehicle_table_query =  '''
    CREATE TABLE IF NOT EXISTS vehicle_data (
        "track_id" bigint PRIMARY KEY,
        "type" text,
        "traveled_d" double precision,
        "avg_speed" double precision
    );
'''
create_trajectory_table_query =  '''
    CREATE TABLE IF NOT EXISTS vehicle_trajectory (
        "detail_id" serial PRIMARY KEY,
        "track_id" bigint REFERENCES vehicle_data("track_id"),
        "lat" double precision,
        "lon" double precision,
        "speed" double precision,
        "lon_acc" double precision,
        "lat_acc" double precision,
        "time" double precision
);
'''

In [3]:
run_sql_query(connection_params, create_vehicle_table_query)
run_sql_query(connection_params, create_trajectory_table_query)

NameError: name 'run_sql_query' is not defined

In [7]:
import sys
print(sys.path)

['/Users/Aaron/tenx_week_two/notebook', '/Users/Aaron/anaconda3/lib/python310.zip', '/Users/Aaron/anaconda3/lib/python3.10', '/Users/Aaron/anaconda3/lib/python3.10/lib-dynload', '', '/Users/Aaron/anaconda3/lib/python3.10/site-packages', '/Users/Aaron/anaconda3/lib/python3.10/site-packages/PyQt5_sip-12.11.0-py3.10-macosx-11.1-arm64.egg', '../scripts/', '../scripts/', '../scripts/']